{% extends 'transfusion/base.html' %}
{% block title %}Change Password{% endblock %}

{% block nav %}
    {% include 'transfusion/logged_in_header.html' %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'transfusion:index' %}">{{ user.get_full_name }}</a></li>
                <li><a href="{% url 'transfusion:preferences' %}">Preferences</a></li>
                <li class="active">Change Password</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" method="post" onsubmit="return validatePassword();">
                {% csrf_token %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Password &nbsp;<button class="btn btn-success btn-sm">Save <span class="glyphicon glyphicon-save"></span></button></h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label>Current Password</label>
                            <input class="form-control" type="password" name="current_password" required="true">
                        </div>
                        <hr>
                        <div class="input-group">
                            <label>New Password</label>
                            <input class="form-control" type="password" name="new_password" id="new_password" required="true">
                        </div>
                        <br>
                        <div class="input-group">
                            <label>Retype New Password</label>
                            <input class="form-control" type="password" name="new_password_repeat" id="new_password_repeat" required="true">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function validatePassword() {
    if($("#new_password").val() === $("#new_password_repeat").val()) {
        return true;
    } else {
        alert("Your new passwords do not match. Please try again.");
        return false;
    }
}
</script>
{% endblock %}
