{% extends 'transfusion/base.html' %}
{% block title %}{{ course.name }}{% endblock %}

{% block nav %}
    {% include 'transfusion/teacher_header.html' %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'transfusion:teacher_profile' teacher=user.username %}">{{ user.get_full_name }}</a></li>
                <li class="active">{{ course.name }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-pills nav-tab-activate">
                        <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
                        <li><a data-toggle="tab" href="#assignments">Assignments</a></li>
                        <li><a data-toggle="tab" href="#links">Links</a></li>
                        <li><a data-toggle="tab" href="#files">Files</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <h4>{{ course.name }}</h4>
                            {% if course.description %}
                                <p>{{ course.description|safe }}</p>
                            {% else %}
                                <p>{{ course.short_description }}</p>
                            {% endif %}
                        </div>
                        <div id="assignments" class="tab-pane fade">
                            {% if assignments %}
                                {% for assignment in assignments %}
                                    <div class="well">
                                        <h4>{{ assignment.name }}&nbsp;<small{% if assignment.is_past_due %} style="color: firebrick;"{% endif %}> Due: {{ assignment.due_date }}</small></h4>
                                        <p>{{ assignment.description|safe }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>No assignments found. </h4>
                            {% endif %}
                        </div>
                        <div id="links" class="tab-pane fade">
                            {% if links %}
                                {% for link in links %}
                                    <div class="well">
                                        <h4>{{ link.name }} &nbsp;<small>{{ link.address }}</small></h4>
                                        <p>{{ link.description|safe }}</p>
                                        <a class="btn btn-success" href="{{ link.address }}" target="_blank">Open &nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>No links found. </h4>
                            {% endif %}
                        </div>
                        <div id="files" class="tab-pane fade">
                            {% if files %}
                                <h5 style="color: firebrick;"><span class="glyphicon glyphicon-alert"></span> Do not execute any files for which you do not trust the source!</h5>
                                {% for file in files %}
                                    <div class="well">
                                        <h4>{{ file.name }} &nbsp;<small>{{ file.filename }}</small></h4>
                                        <p>{{ file.description|safe }}</p>
                                        <button onclick="window.location='{% url 'transfusion:download_file' file_id=file.id %}';" class="btn btn-info">Download &nbsp;<span class="glyphicon glyphicon-download-alt"></span></button>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>No files found. </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
            $('.nav-tab-activate a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
    </script>
{% endblock %}