{% extends 'transfusion/base.html' %}
{% block title %}Create Account{% endblock %}

{% block nav %}
    {% include 'transfusion/index_header.html' %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Account</h3>
                </div>
                <div class="panel-body">
                    <p style="color: firebrick;">* All fields are required.</p>
                    <form role="form" method="post" class="col-md-6" id="create_account" onsubmit="if(validatePassword()) {return validateForm(this.id);} return false;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" class="form-control" type="text" name="username" required="true">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input id='first_name' class="form-control" type="text" name="first_name" required="true">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" class="form-control" type="text" name="last_name" required="true">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input id="email" class="form-control" type="email" name="email" required="true">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="school">School</label>
                            <input id="school" class="form-control" type="text" name="school" required="true">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control" type="password" name="password" required="true">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="retype_password">Retype Password</label>
                            <input id="retype_password" class="form-control" type="password" name="retype_password" required="true">
                        </div>
                        <br>
                        <button class="btn btn-info">Create Account</button>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% load compress staticfiles %}
    {% compress js %}
        <script src="{% static 'transfusion/js/form_validation.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript">
        function validatePassword() {
            if($("[name=password]").val() !== $("[name=retype_password]").val()) {
                clearMessages();
                pushMessage("Your passwords do not match. Please re-enter them.", 'danger');
                $("[name=password]").val("");
                $("[name=retype_password]").val("");
                return false;
            } return true;
        }
    </script>
{% endblock %}