{% extends 'transfusion/base.html' %}
{% block title %}Teachers{% endblock %}

{% block nav %}
    {% include 'transfusion/index_header.html' %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">For Teachers</h3>
                </div>
                <div class="panel-body">
                    <p>
                        With Transfusion, you can quickly and easily post updates about your classes, such as
                    <ul>
                        <li>assignments,</li>
                        <li>links, and</li>
                        <li>general information.</li>
                    </ul>
                    Through a fast, intuitive and mobile-friendly interface, you can disseminate important details for
                    as many classes as desired.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}