<script type="text/javascript">
    function validateForm(formId) {

        clearMessages();

        var inputs = $('#' + formId).find('input[required=true]');
        var errors = false;

        console.log(inputs);

        inputs.each(function() {
            var id = this.id;
            var val = $(this).val();

            if(val.length == 0) {
                var name = $("label[for=" + id + "]").text();
                pushMessage(name + " is required.", 'danger');
                errors = true;
            }
        })

        return !errors;
    }
</script>