{% extends 'transfusion/base.html' %}
{% block title %}Sloth Pages{% endblock %}

{% load staticfiles %}

{% block nav %}
    {% include 'transfusion/index_header.html' %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'transfusion/img/sloth-46159_640.png' %}" style="width: 100px;">
        </div>
        <div class="col-sm-10">
            <h1><small>Welcome to</small> Sloth Pages</h1>
            <p style="font-style: italic;">Allowing students and teachers to connect beyond the classroom</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Students</h3>
                </div>
                <div class="panel-body">
                    <p>Find Your Teachers</p>
                    <form role="form" action="{% url 'transfusion:search' %}" method="get">
                        <div class="form-group">
                            <label class="control-label" for="term">Username or Last Name</label>
                            <input type="text" class="form-control" name="term">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Teachers</h3>
                </div>
                <div class="panel-body">
                    <p>Sign In</p>
                    <form role="form" action="{% url 'transfusion:sign_in' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" class="form-control" name="username" required='true'>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" class="form-control" name="password" required="true">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default">Login</button>
                        </div>
                        <p>Not registered? <a href="{% url 'transfusion:create_account' %}">Create an account.</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;">Sloth Pages are open source. <a href="https://github.com/terabyte128/transfusion_v2" target="_blank">Follow us on GitHub!</a></p>
            </div>
        </div>
    </div>
{% endblock %}